#footer {
    background-color: var(--black);
    width: 100%;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 3em;
}

#footer h5 {
    opacity: 75%;
    font-weight: 300;
    text-align: left;
}

.footer-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5em;
}

.footer-link-item{
    font-size: 2.25rem;
    color: var(--white);
    display: flex;
    align-items: center;
}

.footer-link-cv{
    font-size: 2rem;
    font-weight: 800;
    color: var(--white);
    text-decoration: none;
}