@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --black: #1a1a1d;
  --white: #ffffff;
  --gray: #f8f8f8;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gray);
}

html {
  box-sizing: border-box;
  cursor: context-menu;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.contact-button {
  border: 1px var(--black) solid;
  padding: 0.5em 0.75em;
  border-radius: 5px;
  background-color: var(--black);
  color: var(--white);
  font-weight: 600;
  font-size: 1.25em;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.contact-button:hover {
  color: var(--black);
  background-color: transparent;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.24rem;
}

img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
